.container {

  grid-template-columns: 100px 150px 150px 150px;
  grid-template-rows: 80px auto 80px auto;
  column-gap: 10px;
  row-gap: 15px;
}

.container .mat-radio-button {
  margin: 0 12px;
}
.full-width {
  width:75%;
}
.md-width {
  width: 40%;
}
