<div class="grid-container">
  <mat-grid-list cols="7" rowHeight="132px">

    <mat-grid-tile [colspan]="3" [rowspan]="3">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <span *ngIf="!showEditRecord">
              New Record Form
            </span>
            <span *ngIf="showEditRecord">
              Update Record Form
            </span>

          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <crud-add-form (recordChanged)="onReloadList($event)" *ngIf="!showEditRecord"></crud-add-form>
            <crud-edit-form (recordUpdated)="onReloadList($event)" (cancelUpdated)="cancelUpdate()" *ngIf="showEditRecord"></crud-edit-form>

          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="4" [rowspan]="6">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Records <button mat-raised-button color="primary" class="more-button" (click)="exportToExcel()" [class.mat-elevation-z12]="true"> Export as Excel <mat-icon>get_app</mat-icon></button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <crud-list (editRecord)="onEditRecord($event)"></crud-list>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>
