<mat-toolbar color="primary">
  <mat-toolbar-row>

    <button mat-icon-button  (click)="drawer.toggle();"><mat-icon routerLinkActive="active-icon">menu</mat-icon></button>
    <span>Angular CRUD App</span>

    <span class="toolbar-spacer "></span>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item >
        <mat-icon>bar_chart</mat-icon>
        <span>Example Menu Link</span>
      </button>
    </mat-menu>

    </mat-toolbar-row>

  </mat-toolbar>

<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav
  #drawer
  class="sidenav"
  [class.menu-open]="isMenuOpen"
  [class.menu-close]="!isMenuOpen"
  [mode]="(isHandset$ | async) ? 'over' : 'side'"
  [class.menu-close]="!isMenuOpen" opened>

  <mat-nav-list >
    <a [routerLink]="['/']"  [routerLinkActiveOptions]="{ exact: true }" mat-list-item href="#" routerLinkActive="active"><mat-icon routerLinkActive="active-icon">home</mat-icon><span class="ml-2" > Home </span></a>
    <a [routerLink]="['/crud-demo']" mat-list-item href="#" routerLinkActive="active"><mat-icon routerLinkActive="active-icon">dashboard</mat-icon><span class="ml-2" > CRUD Demo </span></a>
  </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content  [ngStyle]="{ 'margin-left.px': contentMargin }" >
    <div class="main">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
