<div class="example-container mat-elevation-z1">
  <!-- <div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div> -->

  <div class="scrollbar-table" id="style-red" #TABLE>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z1">
      <!-- TSAThruputID -->

      <ng-container matColumnDef="Edit">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button color="primary" id="editBtn" (click)="onEdit(element.Id)" *ngIf="recordEditId != element.Id"><span class="icon"><mat-icon [inline]="true">edit</mat-icon></span></button>
          <button mat-button color="primary" id="editBtnSelect" *ngIf="recordEditId == element.Id" recordEditId><span class="icon-selected"><mat-icon [inline]="true">keyboard_backspace</mat-icon></span></button>
         </td>
      </ng-container>

      <ng-container matColumnDef="JSDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.JSDate | date: 'MM/dd/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="Number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Number </th>
        <td mat-cell *matCellDef="let element"> {{element.Number | number:'1.0-2'}} </td>
      </ng-container>

      <ng-container matColumnDef="Text">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Text </th>
        <td mat-cell *matCellDef="let element"> {{element.Text}} </td>
      </ng-container>

      <ng-container matColumnDef="Boolean">
        <th mat-header-cell *matHeaderCellDef> Boolean </th>
        <td mat-cell *matCellDef="let element"> {{element.Boolean}} </td>
      </ng-container>

      <ng-container matColumnDef="Remove">
        <th mat-header-cell *matHeaderCellDef >  </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button color="warn" id="deleteBtn" (click)="onDelete(element.Id)"><span class="icon"><mat-icon [inline]="true">delete</mat-icon></span></button>
         </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="10" showFirstLastButtons></mat-paginator>
  </div>
  <!-- <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator> -->
</div>
